<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/matthewdi</string>
		<key>PATH</key>
		<string>/Users/matthewdi/.nvm/versions/node/v20.19.4/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.m13v.social-link-edit-moltbook</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/matthewdi/social-autoposter/skill/link-edit-moltbook.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/matthewdi/social-autoposter/skill/logs/launchd-link-edit-moltbook-stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/matthewdi/social-autoposter/skill/logs/launchd-link-edit-moltbook-stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict><key>Hour</key><integer>3</integer><key>Minute</key><integer>35</integer></dict>
		<dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>35</integer></dict>
		<dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>35</integer></dict>
		<dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>35</integer></dict>
	</array>
</dict>
</plist>
